<%- include("partials/header"); -%>
    <h1>About Me 😏</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>
                    I'm Tom, a programmer and web developer based in Midwest. With expertise in front-end technologies
                    like HTML,
                    CSS, and JavaScript, I enjoy crafting visually appealing and responsive user interfaces. On the
                    server-side, I
                    specialize in Node.js and Express, along with databases like MySQL and MongoDB. When I'm not coding,
                    you'll find
                    me exploring the outdoors, gaming, or collaborating with talented individuals. Through this blog, I
                    aim to share
                    insights, experiences, and thoughts on programming, fostering a vibrant community of learners. Join
                    me on this
                    exciting journey as we explore the fascinating world of programming and web development together!
                </p>
            </div>
            <div class="col-md-6">
                <img src="/css/blogportrait.jpg" class="d-block mx-auto img-fluid rounded-circle" width="250px"
                    alt="Bootstrap Themes" loading="lazy" style="border-radius: 50%;">

            </div>
        </div>
    </div>
    <%- include("partials/footer"); -%>